* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}



/* Header */
header {
  width: 100%;
  background: #7a3dfd;
  background-attachment: fixed;
  position: relative;
}
.titulo {
  color: #642a73;
  text-align: center;
  margin-bottom: 60px;
}
.navbar{
  background-color: #7a3dfd;
  color: #fff;
}
.nav-link{
  color: #fff;
  text-decoration: none;
}
.nav-link:hover{
  color: #fff;
  text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.textos-header h2{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 300;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn{
  background-color: #7a3dfd;
  color: #fff;
}
