* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #642a73;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}
.titulo-color {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}
/* Header */
header {
  width: 100%;
  height: 600px;
  background: #7a3dfd;
  background-attachment: fixed;
  position: relative;
}

nav {
  text-align: right;
  padding: 30px 50px 0 0;
}

nav > a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}

nav > a:hover {
  text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 50px;
}
.textos-header h2{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fondo-violeta{
    background-color: #7a3dfd;
    color: #fff;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
/* cards productos */
